

<div class="card-container">
	<img class="round" src="https://i.pinimg.com/originals/78/48/c5/7848c5b64e594b552b8a6205b1833dda.jpg" alt="user" />
	<h3>Boba</h3>
	<h6>Age: 4 Months</h6>
	<!-- <div class="buttons">
		<button class="primary">
			Message
		</button>
		<button class="primary ghost">
			Following
		</button>
	</div> -->
	<div class="skills">
		<h6>Peronality:</h6>
		<ul>
			<li>Sleepy</li>
			<li>Hungry</li>
			<li>Quiet</li>
			<!-- <li>CSS</li>
			<li>JavaScript</li>
			<li>React</li>
			<li>Node</li> -->
		</ul>
	</div>
</div>



