<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Panda 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Panda 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Panda 3</a>
      </li>
    </ul>
  </div>
</nav>

<h1>Welcome to Jungle Jack's Zoo</h1>
<h3>Pandas</h3>


<h4>Come on down to Jungle Jack's Zoo and see some of our most</h4>

<img src="https://images.unsplash.com/photo-1505496875-17a0c521864c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1065&q=80" alt="">
