<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Hanalei&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">
<h1>Welcome to the Columbous Zoo</h1>
<h3>Panda Exhibit</h3>



<h4>Come on down to see some of our most exquisite pandas!</h4>

<div></div>
<img src="https://miro.medium.com/max/3006/1*KdxlBR9P3mDp9JZ_URMdYQ.jpeg" alt="">


<p>Here in the city of Colombous, you can interact with some of our most loved pandas. You can learn about their habitat and diets.</p>

<!-- 
<button type="button" class="btn btn-light" [routerLink]="['/imagegallery']">See our Pandas!</button><br> -->

<button type="button" class="btn btn-light">Purchase Tickets Now!</button>


